body{
    background-color: rgb(255, 214, 214);
}

table {
    width: 25%;

border-collapse: collapse;

background-color: #94eb6c;
}
td {

border: 1px solid black;

text-align: center;

}

#Lamborghini{
    background-color: rgb(247, 160, 242);
}

#Records{
    background-color: rgb(144, 211, 238) ;
}


#Ferrari{
    background-color: rgb(241, 98, 98);
}

#footer{
    text-align: center;
    background-color: rgb(217, 190, 253);
}

#LISTA{
    background-color: rgb(230, 146, 146);
}
